<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet"  href="/server.css" />
    </head>
    <body>

        main(class="container")

            article
                h1 DashBoard

            section(class="row-data")
                table
                    tr
                        th Barber Name
                        th Time
                        th Phone

                    tr(class="row-content")

            section(class="test-form")                
                form(name='update-form' method='POST' action='/send-update')
                    button(type="submit") Submit Update
    </body>
    <script src="test.js"> </script>
</html>



