<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    main(class="container")

        article
            h1 Supreme Update

        section(class="row-data")
            table
                tr
                    th Barber Name
                    th Time
                    th Dates
                
            

    

</body>
<script src="/test.js"> </script>
</html>



