@import '~js-datepicker/src/datepicker';

*{
    box-sizing: border-box;
}
body{
    color : #000;
    height:100%;
   
}


.show-form{display: block !important;}
.freeze{overflow: hidden !important;}

#booking-form{
    display: none;
    .exit-form{
        float: right;
        position: absolute;
        right: 20px;
        top: 19px;
    }

    h2{ margin-top: 0;}

    width:35%;
    background: #000;
    color:#FFF;
    padding:50px;
    position: fixed;
    left:30%;
    
    .input-field {
        margin-bottom: 30px;
        input{
            width:60%;
            height:30px;
            border-radius: 5px;
        }
    }
}

#target{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .barber-sch{
        
        min-height:150px;
        .barber-services{
            display: inline-block;
        }
        button{
            float: right;
            width: 100px;
            height:50px;
            background: #000;
            color: #FFF;

        }

        border-bottom: 1px solid #000;
        margin-bottom:10px;
    }


}